<div [ngClass]="getClasses()">
  <span class="notice-level">
    <i class="icon">{{notice.getIcon()}}</i>
  </span>
  <span class="notice-message">{{notice.getMessage()}}</span>
  <ul>
    <li *ngFor="let action of notice.getActions()">
      <app-button
        (emitter)="action.action($event)"
        [label]="action.label"
        [icon]="action.icon"
        [isFluid]="true"
      ></app-button>
    </li>
    <li>
      <app-button
        (emitter)="dismissNotice($event, notice.getId())"
        [icon]="'close'"
        [isFluid]="true"
      ></app-button>
    </li>
  </ul>
</div>
