@import "../../../partials/variables";
@import "../../../partials/mixins";
@import "../../../partials/fonts";
@import "../../../partials/extends";

.notice {
    margin: 0.5em auto;
    background: currentColor;
    @extend %row;

    @each $level, $color in $palette {
        &.level-#{$level} {
            color: $color;
        }
    }

    i.icon {
        font-size: 1.5em;
    }
}

ul {
    margin: 0 auto;
    @extend %row;

    li {
        display: block;
        border-left: 1px solid white;
    }
}

span {
    color: white;
    padding: 1em;

    &.notice-message {
        @include flex-grow(1);
    }

    &.notice-level {
        font-weight: bold;
        text-align: center;
        padding-right: 0;
    }
}
