@import "../../../partials/variables";
@import "../../../partials/mixins";
@import "../../../partials/fonts";

.notice {

    margin: 0.5em auto;
    background: currentColor;
    @include flexbox;
    @include align-items(center);

    &.info {
        color: $shade-dark;
    }

    &.success {
        color: $success;
    }

    &.fatal {
        color: $warning;
    }

    &.error {
        color: $warning;
    }

    &.debug {
        color: $shade-medium;
    }

    i.icon {
        font-size: 1.5em;
    }
}

ul {
    margin: 0 auto;
}

button {
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0;
    display: block;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    color: inherit;
    border-left: 1px solid white;
    @extend %monospace;

    &:hover {
        background: rgba(0,0,0,0.2);
        @include transition();
    }

    span {
        display: block;
    }
}

span {

    color: white;

    padding: 1em;

    &.notice-message {
        @include flex-grow(1);
    }

    &.notice-level {
        font-weight: bold;
        text-align: center;
        padding-right: 0;
    }
}