@import "mixins";

%link {

    &:hover {
        text-decoration: underline;
        text-decoration-style: solid;
    }
}

%border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%row {
    @include flexbox;
    @include align-items(center);
}
