@import "../../../partials/variables";

%table-border {
  border-color: $shade-light;
  border-style: solid;
}

.table {
  display: table;
  width: 100%;
  border-top-width: 1px;
  border-left-width: 1px;
  @extend %table-border;

  .trow {
    display: table-row;
  }

  .th {
    font-weight: $bold;
  }

  .td, .th {
    display: table-cell;
    padding: 0.25em 0.25em 0.25em 0.25em;
    border-collapse: collapse;
    border-right-width: 1px;
    border-bottom-width: 1px;
    @extend %table-border;

    span {
      text-overflow: ellipsis;
    }
  }

}
