<h2>Edit Article</h2>

<form *ngIf="article">
  <h3>Meta Information</h3>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input
            name="slug"
            type="text"
            id="slug"
            [(ngModel)]="article.slug.value"
            required
            placeholder="...">
  </div>
  <div class="form-group">
    <label for="metaTitle">Meta Title</label>
    <input
            name="metaTitle"
            type="text"
            id="metaTitle"
            [(ngModel)]="article.metaTitle.value"
            required
            placeholder="...">
  </div>
  <div class="form-group">
    <label for="metaDescription">Meta Description</label>
    <textarea
            [(ngModel)]='article.metaDescription.value'
            name="metaDescription"
            id="metaDescription"
            required
            placeholder="...">
    </textarea>
  </div>
    <div class="form-group">
      <label for="blurb">Article Blurb</label>
      <textarea
              name="blurb"
              [(ngModel)]='article.blurb.value'
              id="blurb"
              required
              placeholder="...">
    </textarea>
  </div>
  <h3>Content</h3>
  <div class="form-group">
    <label for="title">Title</label>
    <input
            name="title"
            type="text"
            id="title"
            [(ngModel)]="article.title.value"
            required
            placeholder="...">
  </div>
  <div class="form-group">
    <label for="content">Main Content</label>
    <textarea
            name="content"
            id="content"
            [(ngModel)]="article.content.value"
            required
            placeholder="...">
    </textarea>
  </div>
  <div class="form-group">
    <app-button (emitter)="updateArticle()" [level]="'success'" [label]="'Save Article'" [icon]="'save'"></app-button>
  </div>
</form>
